.container {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 64px;
  width: 100%;
}

.label {
  font-weight: 400;
  font-size: var(--font-size-medium);
  text-align: left;
  color: var(--text-color);
  font-family: var(--font-family);
}

.amount {
  font-weight: 700;
  font-size: var(--font-size-xlarge);
  text-align: right;
  font-family: var(--font-family);
}

@media (max-width: 1100px) {
  .container {
    margin-bottom: 32px;
  }

  .label {
    font-size: var(--font-size-small);
  }

  .amount {
    font-size: var(--font-size-large);
  }
}

@media (max-width: 550px) {
  .label {
    font-size: var(--font-size-small);
  }

  .amount {
    font-size: 1.5rem;
  }
}
