@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  padding: 25px;
  background-color: white;
  border-radius: 20px;
  max-width: 1200px;
}

.splitter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #00474b;
  margin: 20px 0;
  letter-spacing: 0.5rem;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
  width: 100%;
  max-width: 490px;
}

.tipCalculator {
  width: 100%;
}

.tipSelector {
}

.tipErrorContainer {
  min-height: 2.75rem;
  color: rgb(197, 147, 128);
  text-align: end;
  margin-top: 4px;
  line-height: 1.5;
  padding-bottom: 20px;
}

/* Phones */
@media (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    padding: 15px;
    gap: 10px;
  }

  .splitter {
    font-size: 1.5rem;
    margin-bottom: 20px;
    letter-spacing: 0.3rem;
  }

  .select-container {
    width: 100%;
    margin-right: 0;
  }

  .tip-calculator {
    width: 100%;
    padding: 20px;
    font-size: 16px;
  }

  .tipErrorContainer {
    text-align: center;
  }
}

/* Tablets */
@media (max-width: 1100px) {
  .container {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 15px;
  }

  .splitter {
    font-size: 1.75rem;
    letter-spacing: 0.4rem;
  }

  .select-container {
    width: 100%;
    margin-right: 0;
  }

  .tip-calculator {
    padding: 25px;
    font-size: 18px;
  }

  .tipErrorContainer {
    text-align: center;
  }
}
